/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/roboto-400.eot") format("eot"), url("../fonts/roboto/roboto-400.ttf") format("ttf"), url("../fonts/roboto/roboto-400.woff") format("woff"), url("../fonts/roboto/roboto-400.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-500.eot) format("eot"), url(../fonts/roboto/roboto-500.ttf) format("ttf"), url(../fonts/roboto/roboto-500.woff) format("woff"), url(../fonts/roboto/roboto-500.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-700.eot) format("eot"), url(../fonts/roboto/roboto-700.ttf) format("ttf"), url(../fonts/roboto/roboto-700.woff) format("woff"), url(../fonts/roboto/roboto-700.woff2) format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto/roboto-900.eot) format("eot"), url(../fonts/roboto/roboto-900.ttf) format("ttf"), url(../fonts/roboto/roboto-900.woff) format("woff"), url(../fonts/roboto/roboto-900.woff2) format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-700.eot) format("eot"), url(../fonts/raleway/raleway-700.ttf) format("ttf"), url(../fonts/raleway/raleway-700.woff) format("woff"), url(../fonts/raleway/raleway-700.woff2) format("woff2");
  font-weight: 700;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.team__profession, .team__name {
  font-size: 16px;
  line-height: 1.1875;
}

.team__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team__socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.benefits__card, .team__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-white);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.centered {
  text-align: center;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (max-width: 767.98px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .page-header_menu-btn {
    display: none;
  }
}

.page-header_menu-btn:hover .page-header_menu-icon,
.page-header_menu-btn:focus {
  fill: #2196f3;
}

.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: block;
    margin-right: auto;
  }
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item {
  position: relative;
}
.main-nav__item:not(.main-nav__item:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: inline-block;
  padding: 32px 0;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav__link--current {
  color: #2196f3;
}
.main-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-header__item:first-child {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts-header__item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header__link:hover, .contacts-header__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contacts-header__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header__link {
    padding: 32px 0;
    font-size: 14px;
  }
}

.contacts-header__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts-header__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header__icon.mail {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header__icon.mail {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-header__icon.smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header__icon.smartphone {
    width: 10px;
    height: 16px;
  }
}

.hero {
  padding: 118px 0;
  text-align: center;
  margin: 0 auto;
  max-width: 480px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/background-hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/background-hero-mobile.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/background-hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/background-hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-background-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-tablet.jpg);
    background-size: 768px auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-background-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-background-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-desktop.jpg);
    background-size: 1600px auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-background-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background-desktop@2x.jpg);
  }
}

.hero__container {
  min-width: 320px;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 0 204px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
    padding: 0;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636;
    max-width: 696px;
  }
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__card {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__subject {
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}

.benefits__text {
  line-height: 1.7;
  color: #757575;
}

.what-we-do__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785;
  color: #212121;
}

.what-we-do {
  display: none;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  display: block;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__card {
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team__profession {
  margin-bottom: 16px;
  color: #757575;
}

.team__socials-link {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__socials-link:hover, .team__socials-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923;
  }
}

.logo-web {
  color: #2196f3;
}

.page-header__logo {
  padding: 16px 0;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.btn {
  cursor: pointer;
}

.page-header_menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.hero__btn {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border-style: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */