.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: getColor('primaryText', 'main');
}

.modal__label {
  position: relative;

  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  color: getColor('primaryText', 'sub');
}

.order-user-name,
.order-tel,
.order-mail {
  margin-bottom: 10px;
}

.modal__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-color: rgba(getColor('primaryText', 'main'), 0.2);
  border-radius: 4px;
  outline: transparent;
  background-color: getColor('main', 'white');

  cursor: pointer;

  transition: border-color $transition;

  .modal__label:hover &,
  &:focus {
    border-color: getColor('accent', 'main');
  }
}

.modal__icon {
  position: absolute;
  top: 29px;
  left: 12px;

  fill: getColor('primaryText', 'main');

  transition: fill $transition;

  .modal__label:hover &,
  .modal__input:focus + & {
    fill: getColor('accent', 'main');
  }
}

.order-comment {
  margin-bottom: 20px;
}

.modal__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;

  border: 1px solid rgba(getColor('primaryText', 'main'), 0.2);
  border-radius: 4px;
  outline: transparent;
  background-color: getColor('main', 'white');

  transition: border-color $transition;

  .modal__label:hover &,
  &:focus {
    border-color: getColor('accent', 'main');
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.01em;
    color: rgba(getColor('primaryText', 'sub'), 0.5);
  }
}

.modal__agreement {
  position: relative;

  @extend %flexCentered;
  margin-bottom: 30px;
  padding-left: 5px;

  line-height: 1.7142;
  color: getColor('primaryText', 'sub');
}

.modal__checkbox {
  position: absolute;
  top: 4px;
  left: 4px;

  width: 16px;
  height: 15px;

  border-width: 2px;
  border-style: solid;
  border-color: getColor('primaryText', 'main');
  border-radius: 2px;

  transition: border-color $transition;

  .modal__agreement:hover &,
  .modal__agreement-input:focus + &,
  .modal__agreement-input:checked + & {
    border-color: getColor('accent', 'hover');
  }
}

.modal__agreement-icon {
  position: absolute;
  top: 4px;
  left: 4px;

  fill: getColor('accent', 'main');
  opacity: 0;

  transition: opacity $transition;
}

.modal__agreement-input:checked ~ .modal__agreement-icon {
  opacity: 1;
}

.modal__terms-link {
  display: inline-block;

  line-height: 1.7142;
  text-decoration-line: underline;
  color: getColor('accent', 'main');
}
