.benefits__list {
  @extend %gridList;
}
.benefits__item {
  @extend %gridItem;
}

.benefits__card {
  @extend %flexCentered;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: getColor("background", "light");
  border-radius: 4px;
}

.benefits__subject {
  margin: 0 auto;
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: getColor("primaryText", "main");

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.benefits__text {
  line-height: 1.7;
  color: getColor("primaryText", "sub");
}
