.what-we-do {
  padding-top: 0;
}

.what-we-do__list {
  display: flex;
  justify-content: center;
}

.what-we-do__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__description {
  position: absolute;
  left: 0;
  bottom: 0;

  @extend %flexCentered;
  width: 370px;
  height: 70px;

  font-weight: 700;
  line-height: 1.1428;
  text-align: center;
  text-transform: uppercase;
  color: getColor('main', 'white');

  background-color: rgba(getColor('background', 'dark'), 0.8);
}
