// Cursor pointer

.btn {
  cursor: pointer;
}

// Hero button

.hero__btn {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin: 0 auto;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: getColor('main', 'white');

  background-color: getColor('accent', 'main');
  border-radius: 4px;
  border-style: none;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: getColor('accent', 'hover');
  }
}

// Footer mailing button

.footer-mailing__btn {
  display: flex;
  align-items: center;
  min-width: 200px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: getColor('main', 'white');

  background-color: getColor('accent', 'main');
  border: 0px;
  box-shadow: 0px 4px 4px rgba(getColor('main', 'black'), 0.15);
  border-radius: 4px;

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: getColor('accent', 'hover');
  }
}

// Modal close button

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  @extend %flexCentered;
  width: 30px;
  height: 30px;
  padding: 0;

  border-radius: 50%;
  border: 1px solid rgba(getColor('main', 'black'), 0.1);
  background-color: getColor('main', 'white');
  fill: getColor('main', 'black');

  transition: fill $transition;

  &:hover,
  &:focus {
    fill: getColor('accent', 'main');
  }
}

// Modal send button

.modal__send-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: getColor('main', 'white');

  background-color: getColor('accent', 'main');
  box-shadow: 0px 4px 4px rgba(getColor('main', 'black'), 0.15);
  border-radius: 4px;
  border-style: none;

  @include horizontalMargin(auto);

  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: getColor('accent', 'hover');
  }
}

// Filter buttons

.filter__btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: getColor('primaryText', 'main');

  background-color: getColor('background', 'light');
  border-radius: 4px;
  border-style: none;

  transition: color $transition, background-color $transition, box-shadow $transition;

  &:hover,
  &:focus {
    color: getColor('main', 'white');

    background-color: getColor('accent', 'main');
    box-shadow: 0 2px 2px 0 rgba(getColor('main', 'black'), 0.12),
      0 1px 2px 0 rgba(getColor('main', 'black'), 0.08),
      0 3px 1px 0 rgba(getColor('main', 'black'), 0.1);
  }
}

.all {
  color: getColor('main', 'white');

  background-color: getColor('accent', 'main');
}
