html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  @extend %mainTextStyle;
  color: var(--main-text-color);

  background-color: var(--main-white);
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.centered {
  text-align: center;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @include breakpoint(480px, 768px, 1200px);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: getColor('main', 'white');

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}