body {
  font-family: 'Roboto';
  font-size: getTextStyle('mainTextStyle', 'primaryFontSize');
  color: getColor('primaryText', 'main');
  letter-spacing: getTextStyle('mainTextStyle', 'primaryLetterSpacing');
  background-color: getColor('main', 'white');
}

.section {
  padding-top: getValue('valueMap','sectionVerticalPadding');
  padding-bottom: getValue('valueMap','sectionVerticalPadding');
}

.container {
  width: getValue('valueMap','containerWidth');
  padding-left: getValue('valueMap','containerHorizontalPadding');
  padding-right: getValue('valueMap','containerHorizontalPadding');
  @include horizontalMargin(auto);
}
