body {
  font-family: "Roboto";
  font-size: getTextStyle("primaryFontSize");
  color: getColor("primaryText", "main");
  letter-spacing: getTextStyle("primaryLetterSpacing");
  background-color: getColor("main", "white");
}

// .section {
//   padding-top: getValue("sectionVerticalPadding");
//   padding-bottom: getValue("sectionVerticalPadding");
// }

// .container {
//   width: getValue("containerWidth");
//   padding-left: getValue("containerHorizontalPadding");
//   padding-right: getValue("containerHorizontalPadding");
//   @include horizontalMargin(auto);
// }
