.logo {
  display: block;

  font-family: "Raleway";
  font-style: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.1923;
  }
}

.logo-web {
  color: getColor("accent", "main");
}

.page-header__logo {
  padding: 16px 0;

  color: getColor("main", "black");

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding: 26px 0;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  color: getColor("main", "white");

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
