.filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-top: -15px;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 0;
  }
}

.filter__item {
  margin-left: 8px;
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.projects {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.projects__card {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  transition: box-shadow $transition;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(getColor("main", "black"), 0.16),
      0 4px 4px 0 rgba(getColor("main", "black"), 0.06),
      0 1px 1px 0 rgba(getColor("main", "black"), 0.12);
  }
}

.projects__overlay {
  position: relative;
  overflow: hidden;
}

.projects__text {
  flex-grow: 1;
  padding: 20px 24px;

  border-right: 1px solid getColor("border", "secondary");
  border-bottom: 1px solid getColor("border", "secondary");
  border-left: 1px solid getColor("border", "secondary");
}

.projects__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: getColor("primaryText", "main");
}

.projects__type {
  font-size: 16px;
  line-height: 1.875;
  color: getColor("primaryText", "sub");
}

.projects__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  width: 100%;
  height: 100%;
  padding: 30px 24px 0px;

  font-size: 18px;
  line-height: 1.55;
  color: getColor("main", "white");

  background-color: rgba(getColor("accent", "main"), 0.902);

  transition: transform $transition;

  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0%);
  }

  @media screen and (min-width: 768px) {
    padding: 49px 24px 0px;
  }
}
