$colorMap: (
  'main': (
    'white': #ffffff,
    'black': #000000,
  ),
  'primaryText': (
    'main': #212121,
    'sub': #757575,
  ),
  'accent': (
    'main': #2196f3,
    'hover': #188ce8,
  ),
  'background': (
    'main': #e5e5e5,
    'light': #f5f4fa,
    'dark': #2f303a,
  ),
  'border': (
    'primary': #ececec,
    'secondary': #eeeeee,
  ),
  'icons': (
    'main': #afb1b8,
  ),
);

$valueMap: (
  'containerWidth': 1200px,
  'containerHorizontalPadding': 15px,
  'sectionVerticalPadding': 94px,
  'heroVerticalPadding': 200px,
  'footerVerticalPadding': 60px,
);

$mainTextStyle: (
  'primaryFontSize': 14px,
  'primaryLetterSpacing': 0.03em,
  
);

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/roboto-400.eot') format('eot'),
    url('../fonts/roboto/roboto-400.ttf') format('ttf'),
    url('../fonts/roboto/roboto-400.woff') format('woff'),
    url('../fonts/roboto/roboto-400.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/roboto-500.eot) format('eot'),
    url(../fonts/roboto/roboto-500.ttf) format('ttf'),
    url(../fonts/roboto/roboto-500.woff) format('woff'),
    url(../fonts/roboto/roboto-500.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/roboto-700.eot) format('eot'),
    url(../fonts/roboto/roboto-700.ttf) format('ttf'),
    url(../fonts/roboto/roboto-700.woff) format('woff'),
    url(../fonts/roboto/roboto-700.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/roboto/roboto-900.eot) format('eot'),
    url(../fonts/roboto/roboto-900.ttf) format('ttf'),
    url(../fonts/roboto/roboto-900.woff) format('woff'),
    url(../fonts/roboto/roboto-900.woff2) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/raleway/raleway-700.eot) format('eot'),
    url(../fonts/raleway/raleway-700.ttf) format('ttf'),
    url(../fonts/raleway/raleway-700.woff) format('woff'),
    url(../fonts/raleway/raleway-700.woff2) format('woff2');
  font-weight: 700;
}
